body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
// 버튼 색 그라디언효과 넣기
// background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);


#7e9181 레세다 그린 
#DBD8C8
#b3aca1
#FAEDCD
#E9EDC9
#CCD5AE

#1b3b30
#667eea
#aea18f
#522700

 */
